<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sdu.addd.qasys.mapper.MessageMapper">
    <update id="acknowledgeMessages">
        UPDATE t_message
        SET is_acknowledged = true
        WHERE id IN
        <foreach collection="messageIds" item="id" open="(" close=")" separator="," nullable="true">
            #{id}
        </foreach>
    </update>
</mapper>
