<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.qiao712.bbs.mapper.PostLikeMapper">
    <select id="isPostLikedByUser" resultType="boolean">
        SELECT (
            EXISTS (SELECT id FROM t_post_like WHERE user_id = #{userId} AND post_id = #{postId})
        ) liked
    </select>
</mapper>
