<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.qiao712.bbs.mapper.PostLikeMapper">
    <select id="isPostLikedByUser" resultType="boolean">
        SELECT (
            EXISTS (SELECT id FROM t_post_like WHERE user_id = #{userId} AND post_id = #{postId})
        ) liked
    </select>

    <insert id="insertPostLikes">
        INSERT IGNORE INTO t_post_like(post_id, user_id) VALUES
        <foreach collection="postLikes" separator="," item="postLike">
            (#{postLike.postId}, #{postLike.userId})
        </foreach>
    </insert>

    <delete id="deletePostLikes">
        DELETE FROM t_post_like WHERE (post_id, user_id) IN
        <foreach collection="postLikes" separator="," item="postLike" open="(" close=")">
            (#{postLike.postId}, #{postLike.userId})
        </foreach>
    </delete>
</mapper>
